@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a,
a:active {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: rgb(155, 0, 108);
}


/*----HEADER---*/

.df-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #CEB699;
    flex-direction: row;
    padding: 15px;
    max-height: p;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo>img {
    width: 70px;
}

.logo p {
    margin: 10px;
}

.df-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;

}

.df-ul li {
    margin: 10px;
    font-weight: 700;
}


.logo-name {
    color: #000;
    font-weight: 700;
    font-size: 1.5rem;
}

/*---*FIN DE HEADER---*/

/*----MAIN---*/
main {
    padding: 10px 200px;

}

.imagen>img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.nosotros {
    border: 1px solid #252525;
    padding: 30px 50px;
}

h2 {
    margin-bottom: 1rem;
    text-align: center;
}

.nosotros>p {
    line-height: 1.5rem;
}

.cliente-opinion {
    border: 1px solid #252525;
    padding: 30px 50px;
}

.container-foto {
    display: flex;
    justify-content: space-around;
}

.container-foto>img {
    width: 10%;
}

.container-foto>p {
    padding: 30px 50px;
}

.form {
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    align-items: center;
    border: 1px solid #252525;
}

.grupo {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

.main-vender {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 30px 50px;
}

/*---FIN DE MAIN DE INICIO---*/

/*----FOOTER---*/

.bg-footer {
    background-color: rgb(206, 182, 153);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
}

.footer-item>h4 {
    margin-bottom: 10px;
}

/*----FIN DE FOOTER---*/