.image-gallery {
    margin-top: 20px;
    display: grid;
    gap: 30px;
}

.rent {
    grid-template-columns: auto auto auto;
    border-top: 1px solid #aeaeae;
    padding-top: 10px;
}

.buy {
    grid-template-columns: auto auto;
}

.gallery-item__description {
    margin-top: 10px;
    font-size: 1.2rem;
}

.gallery-item {
    padding: 20px;
    border: 1px solid #c9c9c9;
    border-radius: 7px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}

.image-gallery img {
    object-fit: cover;
    width: 100%;
    height: 80%;
    vertical-align: middle;
    border-radius: 5px;

    transition: transform .2s ease-in;
}

.image-gallery img:hover {
    transform: scale(1.008)
}