@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat&display=swap');

$font-base: 'Montserrat', sans-serif;


$color-primario: #54BAB9;
$color-secundario: #E9DAC1;
$color-claro: #F7ECDE;
$color-oscuro: #354259;



